@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url('home.jpg');
}

.logo::before {
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}
.navbar a {
  background: transparent;
  transition: 0.3s;
}

.navbar a:hover {
  color: #00abf0;
  background-color: transparent;
  opacity: 2;
}
.navbar a.active {
  color: #00abf0;
}

.btn-box a {
  transition: 0.5s;
}
.btn-box a::before {
  transition: 0.5s;
}

.home-sci a {
  transition: 0.5s;
}
.h1s {
  -webkit-text-stroke: 1px #fff;
  background-image: url('back.png');
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

.row a {
  transition: 0.5s;
}
.row a::before {
  transition: 0.5s;
}
/* KEYFRAME ANIMATION  */

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

/* end of navbar */
